**/.DS_Store
**/*.dat
**/*.gz
**/*.tar
**.pyc
**._*

final_report/*.log
final_report/*.aux
final_report/*.bbl
final_report/*.blg
final_report/*.fdb_latexmk
final_report/*.fls

/external_codes/rongpu/
